.buttons {
  display: flex;
  flex-direction: column;
  width: 65px;
  flex-grow: 1;
  justify-content: center;
}

div.manualCount {
  width: 65px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
}

button {
  flex-grow: 1;
  flex-basis: auto;
}